/* Form */


.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group input,
.form-group select,
.form-group text area,
button{
    width:100%;
    margin-bottom: 8px;
    padding: 5px 10px;
    color: var(--white);
    background-color: var(--gray-black);
    font-family: var(--font-primary);
    border-radius: 8px;
    border:solid 1px var(--blue)
}

.form-group button{
    padding: 5px 10px;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    border-radius: 8px;
    border:solid 1px var(--blue)
}

.form-group button:hover{
    background-color: var(--white);
    color: var(--blue);
}

.form-group-button{
    display: flex;
    justify-content: right;
    gap: 10px;
}