:root{
    --blue: #0000ff;
    --white: #ffffff;
    --black: #1f1f1f;
    --gray: #6b6b6b;
    --purple: #640164;
    --invisible-white: #ffffff50;
    --font-title: "serif";
    --font-primary: "roboto";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--gray);
    text-decoration: underline;
}